.custom-button {
    background-color: #A5C9CA; /* Primary color */
    border: none;
    color: #2C3333;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

  }
  
  .custom-button:hover {
    background-color: #6c898a; 
    color: #E7F6F2;
  }
  
  .custom-button:active {
    background-color: #516565; 
    color: #E7F6F2;
  }
  
  .custom-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  