.custom-button {
    background-color: #395B64;
    border: none;
    color: antiquewhite;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    padding: 6%;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4); /* Hafif gölge ekleyelim */
  }
  

  .custom-button:hover {
    background-color: #333; 
    color: #E7F6F2;
  }
  
  .custom-button:active {
    background-color: #333; 
    color: #E7F6F2;
  }
  
  .custom-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  