/* Header Tasarımı */
.header {
  padding: 0;
  position: relative;
  z-index: 10;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

/* Header Buton Tasarımı */
.nav-container button {
  background-color: #fdc57b; /* Altın sarısı arka plan */
  color: white; /* Beyaz yazı rengi */
  padding: 12px 24px;
  border: none;
  border-radius: 8px; /* Yuvarlak köşeler */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Header Buton Hover Efekti */
.nav-container button:hover {
  background-color: #be3144; /* Hover durumunda kırmızı */
}

/* Logo ve Menü Arasındaki Alan */
.nav-container .logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-container .logo:hover {
  color: #fdc57b; /* Logo üzerine geldiğinde altın sarısı */
}
