.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-button,
.page-arrow {
  background-color: #86a6a7;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.page-button.active {
  background-color: #314c54;
  color: white;
}

.page-button:hover,
.page-arrow:hover {
  background-color: #314c
}