.projects-page {
    padding: 20px;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    flex-direction: column;
    min-height: 100vh;
    background-color: #395B64;
  }
  
  #title {
    text-align: center;
  }
 
  .projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
  }
  .project-item {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 40px;
    width: 400px;
  }
  
  .project-item img {
    width: 100%;
    height: auto;
  }
  
 Link {

    color: #1c1f20;
  }