.bouncing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
   
  }

  .bouncing-section h1, .bouncing-section h2 {
    margin: 0;
    font-family: cursive;
  }
  
  